h1{
	color: #000;
}
ul {
	background-color: #fff;
	list-style-type: none;
	overflow: hidden;
}
li {
	display: block;
	float: left;
	width: 75px;
}
li a {
	text-decoration: none;
	color: #000;
}
li a:hover {
	background-color: #eee;
	border-bottom: #eee;
}